<div class="hangman centered">
    <h1 id="ejemplo" class="uppercase">Juego "ahorcado/hangman"</h1>
    <div class="centered">
        <h2 class="uppercase">Instrucciones</h2>
        <p class="instructions">
          {{ instructions }}
        </p>
    </div>
<div>{{ game.nombre }}</div>
    <!-- TODO implement logic to show or hide dummy parts -->
    <div class="dummy marginSpace">
        {% include 'dummy.html' %}
    </div>
      <h1>Cantidad de Intentos {{ game.tries }}</h1>
    <!-- TODO display win or lose message when game is over -->
    <div class="word marginSpace">
        {% for index, letter in enumerate(game.letters) %}
          <span>{{letter}}</span>
        {% endfor %}
    </div>
    {{game.indexes }}
   <form id="gameInput" class="marginSpace" action="/" method="post">
        <input type="text" name="letter" id="letter" placeholder="Digíte una letra" />
        <button type="submit">Enviar</button>
    </form>
   <!-- Todo show restart game just when game is over -->

        <button onclick="restartGame()">Volver a jugar</button>


    <!-- Todo display game errors in a list -->
    <!-- <div class="errors">
        <ul class="d-inline-block">
        </div> -->
    <!-- Todo display played words -->

    <div class="wordsContainer centered">
            <h2 class="uppercase">
                Palabras jugadas
            </h2>
            <ul class="wordList">
            {% for word in game['words'] %}
                <li>{{ word['word'] }}</li>
            {% endfor %}
           </ul>
        </div>

</div>
